{% extends "base.html" %}
{% block content %}
<h3>LCSH 1910</h3>

<div>
Endpoints:</br>
id.cci.drexel.edu/ark:/99152/[ark_id]<br>
n2t.net/ark:/99152/[ark_id]<br>
</div>
<div class="container mt-3">                                                       
Library of Congress. Subject headings used in the dictionary catalogues of the Library of Congress</span>, 3 vols. Vols. 1-2. <br/>
      Washington: G.P.O., Library Branch, 1910-1914. <br/>
      <ul class="list-group">
        <li class="list-group-item">Vol. 1 (A-F), <a href="https://hdl.handle.net/2027/coo.31924050327042">https://hdl.handle.net/2027/coo.31924050327042</a></li>
        <li class="list-group-item">Vol. 2 (G-P), <a href="https://hdl.handle.net/2027/coo.31924050327059">https://hdl.handle.net/2027/coo.31924050327059</a></li>
      </ul>
   <br>
      Library of Congress. Subject headings used in the dictionary catalogues of the Library of Congress</span>, 5 vols. Vols. 4-5.<br/>
      Washington: G.P.O., Library Branch, 1910-1914.<br/>
      <ul class="list-group"></ul>
        <li class="list-group-item">Vol. 4 (Q-R), <a href=" https://hdl.handle.net/2027/mdp.39015014520715"> https://hdl.handle.net/2027/mdp.39015014520715</a></ul>
        <li class="list-group-item">Vol. 5 (S-Z), <a href=" https://hdl.handle.net/2027/mdp.39015014520731"> https://hdl.handle.net/2027/mdp.39015014520731</a></ul>
      </ul>                                                       
</div>
<div class="container mt-3">                  
For details on the Vocabulary server, visit <a href="https://hive2.cci.drexel.edu/" target="_blank">HIVE</a> (Helping Interdisciplinary Vocabulary Engineering),
a service of the <a href="https://cci.drexel.edu/mrc/" target="_blank">Metadata Research Center</a> at Drexel University's College of Computing and Informatics.
</div>
{% endblock content %}